.categories-container {
  padding: 20px;
}

.back-button {
  all: unset;
  color: #7e8490;
  font-size: 15px;
  margin: 10px 0;
 
}

/* .back-row {
  
} */

.categories-title {
  font-size: 30px;
}
.categories-grid {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.category-card {
  margin: 20px 0;
  /* border: 1px solid black; */
  padding: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.10);
}

.category-card p {
  margin: 5px 0;
  color: #4B5563;
}

.category-content {
  padding: 10px;
}

.category-link {
  all: unset;
  background: #F97316;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 0;
  text-align: center;
  color: white;
  margin-top: 30px;
  font-weight: 500;
}
