:root {
  --primary: #d96f00;
  --bg-light: #f8f7f577;
  --bg-dark: #221910;
  --text-main: #181411;
  --text-light: #ffffff;
  --subtle-light: #f5f2f0;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-light);
  font-family: "IBM Plex Sans Condensed", system-ui, sans-serif;
  color: var(--text-main);
}


.app-header {
  width: 100%;
  padding: 20px 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgba(34, 25, 16, 0.85);
  backdrop-filter: blur(8px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: 900;
  color: white;
  cursor: pointer;
  letter-spacing: -0.3px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.logo:hover {
  transform: scale(1.02);
  opacity: 0.9;
}


.header-nav {
  display: flex;
  gap: 12px;
}


.nav-button {
  border: none;
  background: transparent;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 16px;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-button:hover {
  background-color: rgba(236, 87, 0, 0.623);
  transform: translateY(-1px);
}


.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.app-footer {
  background-color:#f8f7f577;
  justify-content: space-between;
  text-align: center;
  padding: 40px 16px;
  font-size: 18px;
  color: #666;
  border-top: 1px solid #eee;
}

